
.App {
color: aliceblue;
font-family: Arial, Helvetica, sans-serif;
}

.grid-container {
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    grid-gap: 10px;
    padding: 20px;
}

.item1 {
    padding: 1rem 0;
}

.item1 > h1 {
    border-bottom: 1px solid rgb(161, 119, 41);
}

.item2 {
    position: relative;
    color: black;
    border-radius: 10px;
}

.main {
    padding: 1%;
    background-color: #ffffff;
    z-index: 3;
    opacity:1;
    border-radius: 10px;
}

.navigation {
    padding: 1%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10; 
}

.navigation-menu-button {
   visibility: visible;
   float: right;
}

.navigation-menu-button > button {
    color: rgb(161, 119, 41);
    font-size: 20px;
    background-color: #ffffff;
 }

.navigation > ul {
    list-style-type: "→";
    list-style-position: outside;
    list-style-image: none;  
    color: rgb(161, 119, 41); 
}

.navigation > ul > li {
    font-size: 12px;
    padding-left: 6px;
    margin: 10px 0;  
}

.navigation > ul > li > a {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(161, 119, 41);
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    font-weight: bold;
}

.navigation > ul > li > a:hover {
   font-weight: normal;
   background-color: #ffffff;
}

.active {
    font-weight: normal !important;
    background-color: #ffffff;
}

.code {
    width: 100;
    margin: 20px 0;
    padding: 0;
    height: auto;  
}

.code > p {
    text-align: center;
    color: rgb(161, 119, 41);
    font-weight: bold;
}


/*media query*/
@media only screen and (max-width: 768px) {
    /* .navigation-menu-button {
        visibility: visible;
        right: 0px;
        float: right;
     }

     .navigation > ul {
        visibility: hidden; 
    } */
  }