
.pointerevents {
    height: 300px;
    width: 50%;
    margin: 5rem auto;
   justify-content: center;
   align-items: center;
}

.pointerevents > button {
    box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
   padding:2rem 5rem;
   border-radius: 30%;
   animation: fadebutton 5s ease-out forwards;
}

@keyframes fadebutton{
    from {
        opacity: 1;
        pointer-events: visible;
    }
    to {
        opacity: 0.1;
        pointer-events: none;
    }
}