.textgradient {
  font-size: 100px; 
  font-weight: bold;
  background: linear-gradient(to left, rgb(71, 59, 177), rgb(167, 130, 162));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  min-height: 50vh;
}